@charset "utf-8";

.footer {
    width : 100%;
    height : 10%;
    background: rgb(212, 248, 215);
    min-width : 900px;
}

.footer p {
    text-align: center;
    font-size: 1rem;
    line-height: 100%;
}