@charset "utf-8";

.nav {
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    min-width : 900px;
    height : 100px;
    background: rgb(212, 248, 215);
}

.nav .gnb {
    width : 80%;
    margin : 0 auto;
    height : 100px;
    background: #fff;
    border : 3px solid limegreen;
    padding : 1rem;
    box-sizing: border-box;
    overflow: hidden;
}

.nav .gnb li {
    float : left;
    width : 10%;
}

.nav .gnb h1 a {
    font-size : 1.2rem;
}