@charset "utf-8";

.nav {
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    min-width : 900px;
    height : 100px;
    background: rgb(161, 195, 175);
}

.nav .gnb {
    width : 80%;
    margin : 0 auto;
    height : 100px;
    background: #fff;
    border : 3px solid limegreen;
    padding : 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.nav .gnb li {
    float : left;
    width : 10%;
}

/* .nav .gnb h1 a {

} */